# Testing and development requirements to be installed with the following
# command:
#     `conda install -c pennmem -c conda-forge --file requirements.txt`

dask>=0.15.3
graphviz>=2.38.0
h5py>=2.7.0
hdf5>=1.10.1
jq=1.5
mkl-service>=1.1.2
mock>=2.0.0
numpy>=1.13.3
pandas>=0.23.1
pymc3>=3.2
pytest>=3.2.1
pytest-cov>=2.5.1
pytest-html>=1.16.0
pytest-xdist>=1.20.1
scikit-learn>=0.19.1
scipy>=1.0.0
statsmodels>=0.8.0
traitlets>=4.3.2
traits>=4.6.0
xarray>=0.9.6
gitpython>=2.1.3
mne>=0.16

# Available in the pennmem channel
bptools>=1.3.0
classiflib>=0.1.2
ptsa>=2.0.0,<3
traitschema>=1.1.3
cmlreaders>=0.4.1

# Required only for building docs:
sphinx>=1.6.3
sphinx_rtd_theme>=0.2.4
sphinxcontrib>=1.0
sphinxcontrib-websupport>=1.0.1
