.sme-positive {
  color: red;
}

.sme-negative {
  color: blue;
}

figcaption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

.feature-plot{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.feature-plot-img{
    min-width:400px;
    margin: 1vw;
}

.navigation-plot{
    min-width:400px;
    margin: 1vw;
}

#navbar-spacer {
  padding-top: 5em;
}

#footer-spacer {
  padding-bottom: 5em;
}

.eeg-plot-container {
  display: flex;
  flex-flow: row wrap;
}

.eeg-plot-img .img-thumbnail {
    height: 8rem;
    width: 8rem;
}

.hashovertext {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.hashovertext .hovertext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -25%;
    left: 25%;

    position: absolute;
    z-index: 1;
}

.hashovertext:hover .hovertext {
    visibility: visible;
}