.sme-positive {
  color: red;
}

.sme-negative {
  color: blue;
}

figcaption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

.feature-plot{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.feature-plot-img{
    min-width:400px;
    margin: 1vw;
}

#navbar-spacer {
  padding-top: 5em;
}

#footer-spacer {
  padding-bottom: 5em;
}

.eeg-plot-img {
  display: flex;
  flex-flow: row wrap;
}